/**
 * @file
 * Donations toolbar icon styling.
 */

/* Bar styling (first row), currently unused. */
.toolbar-bar .toolbar-icon-donations-admin-donations:before {
  background-image: url("../icons/bebebe/drupal-donations.svg");
}
.toolbar-bar .toolbar-icon-donations-admin-donations:active:before {
  background-image: url("../icons/ffffff/drupal-donations.svg");
}

/* Tray styling (second row) */
.toolbar-tray .toolbar-icon.toolbar-icon-donations-admin-donations:before {
  background-image: url("../icons/787878/drupal-donations.svg");
}
.toolbar-tray .toolbar-icon.toolbar-icon-donations-admin-donations:active:before {
  background-image: url("../icons/000000/drupal-donations.svg");
}
