/**
 * @file
 * Styles for administration pages.
 */

/**
 * campaign add/edit form layout
 */

/* Narrow screens */
.layout-region {
    box-sizing:         border-box;
}

/* Wide screens */
@media
screen and (min-width: 780px),
(orientation: landscape) and (min-device-height: 780px) {

    .layout-region-campaign-main,
    .layout-region-campaign-footer {
        float: left; /* LTR */
        width: 65%;
        padding-right: 2em; /* LTR */
        box-sizing: border-box;
    }

    [dir="rtl"] .layout-region-campaign-main,
    [dir="rtl"] .layout-region-campaign-footer {
        float: right;
        padding-left: 2em;
        padding-right: 0;
    }

    .layout-region-campaign-secondary {
        float: right; /* LTR */
        width: 35%;
    }

    [dir="rtl"] .layout-region-campaign-secondary {
        float: left;
    }

    /* @todo File an issue to add a standard class to all text-like inputs */
    .layout-region-campaign-secondary .form-autocomplete,
    .layout-region-campaign-secondary .form-text,
    .layout-region-campaign-secondary .form-tel,
    .layout-region-campaign-secondary .form-email,
    .layout-region-campaign-secondary .form-url,
    .layout-region-campaign-secondary .form-search,
    .layout-region-campaign-secondary .form-number,
    .layout-region-campaign-secondary .form-color,
    .layout-region-campaign-secondary textarea {
        box-sizing:         border-box;
        width: 100%;
        max-width: 100%;
    }
}

/**
 * The vertical toolbar mode gets triggered for narrow screens, which throws off
 * the intent of media queries written for the viewport width. When the vertical
 * toolbar is on, we need to suppress layout for the original media width + the
 * toolbar width (240px). In this case, 240px + 780px.
 */
@media
screen and (max-width: 1020px) {

    .toolbar-vertical.toolbar-tray-open .layout-region-campaign-main,
    .toolbar-vertical.toolbar-tray-open .layout-region-campaign-footer,
    .toolbar-vertical.toolbar-tray-open .layout-region-campaign-secondary {
        float: none;
        width: auto;
        padding-right: 0;
    }
}

/*
* Form Description on container inline
 */
.container-inline .description{
    display: block;
}

.field-wrap .form-wrapper,
.field-wrap .form-type-textfield,
.field-wrap .form-type-select{
    padding: 0.3em 0.4em 0.8em 0.4em!important;
    border-bottom: 1px solid #eee!important;
}

.field-wrap .form-item label, .field-wrap .form-item legend{
    margin-bottom: 7px;
}

.field-wrap .form-item .description{
    margin-top: 7px;
}

/*
* Currency symbol fields
*/
.currency-symbol-field .form-item span.field-prefix{
    border: 1px solid #b8b8b8;
    border-right: 0;
    margin: 0;
    font-size: 1em;
    padding: 4px 11px 4px 11px;
    margin-right: -5px;
    line-height: 1.5;
    vertical-align: middle;
    background: #f2f2f2;
    font-weight: bold;
}

.draggable .currency-symbol-field .form-item span.field-prefix{
    padding: 4px 11px 3px 11px;
}

