{#
/**
 * @file
 * Two column template for the campaign add/edit form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="layout-campaign-form clearfix">
  <div class="layout-region layout-region-campaign-main">
    {{ form|without('advanced', 'actions') }}
  </div>
  <div class="layout-region layout-region-campaign-secondary">
    {{ form.advanced }}
  </div>
  <div class="layout-region layout-region-campaign-footer">
    {{ form.actions }}
  </div>
</div>

